.axis--x path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

div.tooltip {
  position: absolute;
  text-align: center;
  pointer-events: none;
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 2px;
}

div.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 11px;
  top: 90%;
  left: 50%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
